streamlit>=1.31.0
python-dotenv>=1.0.0
requests>=2.31.0
beautifulsoup4>=4.12.0
openai>=1.0.0
anthropic>=0.5.0
google-auth>=2.22.0
google-auth-oauthlib>=1.0.0
google-auth-httplib2>=0.1.0
google-api-python-client>=2.100.0
pandas==2.0.3
numpy==1.24.3
setuptools>=65.5.1
jupyterlab
ipywidgets
scipy==1.11.3
scikit-learn==1.3.0
matplotlib==3.7.2
gensim
torch
transformers
tqdm
langchain
tiktoken
faiss-cpu
langchain-openai
langchain_experimental
langchain_chroma
langchain[docarray]
datasets
sentencepiece
matplotlib
google-generativeai
chromadb
plotly
jupyter-dash
pydub
modal
ollama
accelerate
bitsandbytes
psutil
speedtest-cli
sentence_transformers
feedparser
httpx==0.27.2


