streamlit>=1.31.0
python-dotenv>=1.0.0
requests>=2.31.0
beautifulsoup4>=4.12.0
openai>=1.0.0
anthropic>=0.5.0
google-auth>=2.22.0
google-auth-oauthlib>=1.0.0
google-auth-httplib2>=0.1.0
google-api-python-client>=2.100.0
numpy
pandas
setuptools>=65.5.1
ipywidgets
scipy
scikit-learn
matplotlib
gensim
--extra-index-url https://download.pytorch.org/whl/cpu
torch
transformers
tqdm
langchain
tiktoken
langchain-openai
langchain_experimental
langchain_chroma
langchain[docarray]
datasets
sentencepiece
google-generativeai
chromadb
plotly
pydub
psutil
speedtest-cli
sentence_transformers
feedparser
httpx==0.27.2


