python-dotenv==1.1.0
requests==2.32.3
beautifulsoup4==4.13.4
openai==1.79.0
anthropic==0.51.0
gradio==5.30.0
google-auth==2.40.1
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
google-api-python-client==2.120.0
pandas==2.2.3
google-generativeai
numpy==1.24.3
streamlit==1.31.0
setuptools
httpx==0.27.2


